{{!-- Page content --}}
<div id="reportsPage">
    <div class="" id="home">
        <div class="container mt-5">
            <h1><strong>Account Details</strong></h1>
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <td>{{account.id}}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{account.username}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{account.email}}</td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td>{{account.firstName}}</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>{{account.lastName}}</td>
                </tr>
                <tr>
                    <th>Profile Image</th>
                    <td><img src="{{account.url}}" alt="Profile Image" class="img-fluid profile-img"></td>
                </tr>
                <tr>
                    <th>Registration Time</th>
                    <td>{{formatDate account.createdAt}}</td>
                </tr>
                <tr>
                    <th>Role</th>
                    <td>{{account.role}}</td>
                </tr>
            </table>
            <a href="/accounts" class="btn btn-primary">Back to Accounts</a>
        </div>
    </div>
</div>