<div id="reportsPage">
    <div class="" id="home">
        <div class="container mt-5">
            <div class="row tm-content-row">
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                        <h2 class="tm-block-title">List of Accounts</h2>
                        <p class="text-white">Filter</p>
                        <div class="form-group">
                            <input type="text" id="filterName" class="form-control mb-2" placeholder="Filter by username">
                            <input type="text" id="filterEmail" class="form-control mb-4" placeholder="Filter by email">
                        </div>

                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Username
                                            <button class="btn btn-sm btn-sort btn-light p-1" data-sort="username">Sort</button>
                                        </th>
                                        <th scope="col">Email
                                            <button class="btn btn-sm btn-sort btn-light p-1" data-sort="email">Sort</button>
                                        </th>
                                        <th scope="col">Registration Time
                                            <button class="btn btn-sm btn-sort btn-light p-1" data-sort="createdAt">Sort</button>
                                        </th>
                                        <th scope="col">Role
                                            <button class="btn btn-sm btn-sort btn-light p-1" data-sort="role">Sort</button>
                                        </th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="accountsTable">
                                    {{#each accounts}}
                                    <tr>
                                        <th scope="row" data-key="id">{{this.id}}</th>
                                        <td data-key="username">{{this.username}}</td>
                                        <td data-key="email">{{this.email}}</td>
                                        <td data-key="createdAt">{{this.createdAt}}</td>
                                        <td data-key="role">{{this.role}}</td>
                                        <td>
                                            <a href="/account/{{this.id}}" class="btn btn-sm btn-primary">Details</a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <div id="pagination" class="d-flex justify-content-center mt-3">
                            <!-- Pagination controls will be inserted here by JavaScript -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const loggedInUserId = {{user.id}};
    // Use loggedInUserId in your JavaScript code
</script>
<script src="/js/accounts.js"></script>