<body>
    <div class="container tm-mt-big tm-mb-big">
        <div class="row">
            <div class="col-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-products tm-block-h-auto">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block">Product List</h2>
                        </div>
                    </div>
                    <div class="row tm-content-row">
                        <div class="col-12">
                            <div class="form-group mb-3">
                                <label for="filterName">Filter by Name</label>
                                <input id="filterName" type="text" class="form-control" placeholder="Enter product name">
                            </div>
                            <div class="form-group mb-3">
                                <label for="filterCategory">Filter by Category</label>
                                <input id="filterCategory" type="text" class="form-control" placeholder="Enter category">
                            </div>
                            <div class="form-group mb-3">
                                <label for="filterManufacturer">Filter by Manufacturer</label>
                                <input id="filterManufacturer" type="text" class="form-control" placeholder="Enter manufacturer">
                            </div>
                        </div>
                    </div>
                    <div class="row tm-content-row">
                        <div class="col-12">
                            <table class="table table-hover table-striped tm-table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID
                                            <button class="btn btn-sm btn-sort btn-light p-1" data-sort="id">Sort</button>
                                        </th>
                                        <th scope="col">Name
                                            <button class="btn btn-sm btn-sort btn-light p-1" data-sort="productName">Sort</button>
                                        </th>
                                        <th scope="col">Creation Time
                                            <button class="btn btn-sm btn-sort btn-light p-1" data-sort="createdAt">Sort</button>
                                        </th>
                                        <th scope="col">Price
                                            <button class="btn btn-sm btn-sort btn-light p-1" data-sort="price">Sort</button>
                                        </th>
                                        <th scope="col">Total Purschases
                                            <button class="btn btn-sm btn-sort btn-light p-1" data-sort="totalPurchase">Sort</button>
                                        </th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="productsTable">
                                        {{#each products}}
                                        <tr>
                                            <th scope="row"><input type="checkbox" /></th>
                                            <td class="tm-product-name">{{this.productName}}</td>
                                            <td>{{this.category}}</td>
                                            <td>{{this.manufacturer}}</td>
                                            <td>{{formatDate this.createdAt}}</td>
                                            <td>
                                                <a href="#" class="tm-product-delete-link">
                                                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row tm-content-row">
                        <div class="col-12 d-flex justify-content-between align-items-center">
                            <button class="btn btn-primary" id="prevPage">Previous</button>
                            <span id="pageIndicator" class="page-indicator-highlight">Page 1</span>
                            <button class="btn btn-primary" id="nextPage">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row tm-content-row mt-5">
            <div class="col-6">
                <div class="tm-bg-primary-dark tm-block tm-block-categories">
                    <h3 class="tm-block-title">Categories</h3>
                    <ul class="list-group">
                        {{#each categories}}
                        <li class="list-group-item">{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <div class="tm-bg-primary-dark tm-block tm-block-manufacturers">
                    <h3 class="tm-block-title">Manufacturers</h3>
                    <ul class="list-group">
                        {{#each manufacturers}}
                        <li class="list-group-item">{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/products.js"></script>